@import "tailwindcss";
@import "./reset.css";

@plugin "@tailwindcss/typography";

:root {
  --background: hsl(48, 25%, 92%);
  --foreground: #171717;

  --text-paragraph: #374151;
  --text-link: #111827;
  --text-link-hover: #11182795;

  --bg-card: hsl(51 27% 90%);
  --bg-border-color: hsl(48 12.5% 39.2% / 0.25);
}

.dark {
  --background: hsl(45, 4.9%, 16.1%);
  --foreground: hsl(0, 0%, 98%);

  --text-paragraph: hsl(0, 0%, 87%);
  --text-link: hsl(0, 0%, 98%);
  --text-link-hover: hsl(0, 0%, 98%);

  --bg-card: hsl(45, 5%, 14%);
  --bg-border-color: hsl(50 5.9% 40% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--bg-card);
  --color-card-border: var(--bg-border-color);

  --font-sans: var(--font-wotfard);
  --font-mono: var(--font-wotfard);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply text-pretty text-base;
    color: var(--text-paragraph);
    line-height: 1.75;
  }
  a {
    @apply font-medium underline transition-colors duration-200;
    color: var(--text-link);

    &:hover {
      color: var(--text-link-hover);
    }
  }

  .section {
    @apply max-w-4xl mx-auto px-4 md:px-8;
  }

  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
}

@layer components {
  .card {
    @apply rounded-md border border-solid;
    background-color: var(--bg-card);
    border-color: var(--bg-border-color);
  }

  .grid-layout-about-floris {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-areas:
      "map map"
      "map map"
      "map map"
      "travel travel";

    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "map map map map travel travel"
        "map map map map travel travel"
        "map map map map travel travel";
      /* "coffee coffee coffee random random random"
        "coffee coffee coffee random random random"
        "coffee coffee coffee random random random"; */
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-wotfard);
}
