@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;

  /* transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: var(--theme-timing);
  transition-duration: var(--theme-duration); */

  overflow-x: hidden;
}

/* colors are in hsl */
@layer base {
  :root {
    /* other */
    --theme-duration: 500ms;
    --theme-timing: cubic-bezier(0.41, 0.1, 0.13, 1);

    --image-brightness: 0.9;
    --image-brightness-hover: 1;

    --distancemap: 192, 45%, 77%;

    /* for svgs */
    --background-svg-top: 153, 22%, 69%;
    --background-svg-middle: 169, 23%, 76%;
    --background-svg-bottom: var(--background);

    /* colors */
    --background: 34 47% 97%;
    --foreground: 0 0% 13%;
    --border: 34 47% 85%;
    --header-section: 142 76% 36%; /* text-green-600 */

    --tag-1: 211, 96%, 78%; /* blue-300 */
    --tag-1-active: 213, 97%, 87%; /* blue-200 */
    --tag-2: 46, 96%, 47%; /* yellow-500 */
    --tag-2-active: 41, 97%, 40%; /* yellow-300 */

    /* other */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* highlighting code in mdx */
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-property: #0550ae;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;
    --sh-string: #00a99a;
    --sh-keyword: #f47067;
    --sh-comment: #a19595;
  }

  .dark {
    /* for svgs */
    --background-svg-top: 0 0% 0%;
    --background-svg-middle: 0 0% 9%;
    --background-svg-bottom: 0 0% 13%;

    --image-brightness: 0.6;
    --image-brightness-hover: 0.8;

    /* colors */
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --header-section: 142 71% 45%; /* green-500 */

    --tag-1: 218 91% 60%; /* blue-500 */
    --tag-1-active: 221 83% 53%; /* blue-600 */
    --tag-2: 46, 96%, 47%; /* yellow-500 */
    --tag-2-active: 41, 97%, 40%; /* yellow-600 */

    /* other */
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .section {
    @apply max-w-4xl mx-auto px-8 w-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .theme-transition {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: var(--theme-timing);
    transition-duration: var(--theme-duration);
  }
}

@layer components {
  .grid-layout-about-floris {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-areas:
      "map map"
      "map map"
      "map map"
      "coffee coffee"
      "coffee coffee"
      "travel travel"
      "travel travel";

    @screen sm {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "map map map map"
        "map map map map"
        "map map map map"
        "coffee coffee travel travel"
        "coffee coffee travel travel"
        "coffee coffee travel travel";
    }

    @screen lg {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "map map map map travel travel"
        "map map map map travel travel"
        "map map map map travel travel"
        "coffee coffee coffee random random random"
        "coffee coffee coffee random random random"
        "coffee coffee coffee random random random";
    }
  }
}
